button {
  display: block;
  margin: 20px 0;
  border: 0;
}

.msg {
  color: #000;
  background-color: #ccc;
  padding: 5px;
}

.avatar {
  background: url(img/avatar.jpg) no-repeat;
  background-size: 100% 100%;
  width: 127px;
  height: 134px;
  margin: 20px 0;
}

.abc {
  color: #fff;
}
